@model CreateFoodFormModel

@{
    ViewData["Title"] = "Create Food";
}

<div class="row">
    <div class="col-sm-12 offset-lg-2 col-lg-8 offset-xl-3 col-xl-6">
        <h2 class="heading-margin text-center">Create Food</h2>

        <form method="post">
            <div class="form-group">
                <label asp-for="Name"></label>
                <input asp-for="Name" class="form-control" placeholder="Add food name">
            </div>
            <div class="form-group">
                <label asp-for="Brand"></label>
                <input asp-for="Brand" class="form-control" placeholder="Add food brand">
            </div>
            <div class="form-group">
                <label asp-for="Amount"></label>
                <input asp-for="Amount" class="form-control" placeholder="Add amount, ex: 1, 1.5, 200">
            </div>
            <div class="form-group">
                <label asp-for="ServingType"></label>
                <select asp-for="ServingType" class="form-control">
                    <option value="1">Gram</option>
                    <option value="2">Standard Serving</option>
                    <option value="3">Small Serving</option>
                    <option value="4">Medium Serving</option>
                    <option value="5">Large Serving</option>
                    <option value="6">Whole</option>
                    <option value="7">Half</option>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="FoodCategoryId"></label>
                <select asp-for="FoodCategoryId" class="form-control">
                    @foreach (var category in Model.FoodCategories)
                    {
                        <option value="@category?.Id">@category?.Name</option>
                    }
                </select>
            </div>
            <div class="form-group">
                <label asp-for="Calories"></label>
                <input asp-for="Calories" class="form-control" placeholder="Add kcal per 100 grams">
            </div>
            <div class="form-group">
                <label asp-for="Protein"></label>
                <input asp-for="Protein" class="form-control" placeholder="Add grams per 100 grams">
            </div>
            <div class="form-group">
                <label asp-for="Carbohydrates"></label>
                <input asp-for="Carbohydrates" class="form-control" placeholder="Add grams per 100 grams">
            </div>
            <div class="form-group">
                <label asp-for="Fat"></label>
                <input asp-for="Fat" class="form-control" placeholder="Add grams per 100 grams">
            </div>
            <div class="form-group">
                <label asp-for="FoodTags"></label>
                <select asp-for="FoodTags" multiple class="form-control">
                        @foreach (var foodTag in Model.Tags)
                        {
                            <option value="@foodTag.Id">@foodTag.Name</option>
                        }
                    </select>
</div>
            <input class="btn btn-primary" type="submit" value="Create" />
        </form>
    </div>
</div>